<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(currentUser){ %>
    <h6 class="mr-sm-2">Logged In As: <%= currentUser.email %></h6>
    <form method="post" action="/logout">
      <button class="btn btn-outline-dark" type="submit">Logout</button>
    </form>
    <% } else{ %>
      <a class="btn btn-primary mr-2" href="/register">Register</a>
      <a class="btn btn-primary" href="/login">Login</a>

      <% } %>
    </form>
  </nav>
</header>
